<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add budget</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Add budget</h1>

    <form th:object="${budget}" th:action="@{/save}" action="#" method="post">

        <label for="name">Name</label> 
		<input type ="text" id="name" th:field="*{name}">
			
        <label for="catlist">Category</label> 
		<select id="catlist" th:field="*{category}" class="form-control">
			<option th:each="category : ${category}"
				th:value="${category.categoryId}" th:text="${category.name}"></option>
		</select>

         <label for="amount">Amount </label> 
        <input type="text" id="amount" th:field="*{amount}" />


        <input type="submit" value="Save"></input>
    </form>
</body>

</html>