<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Budgets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="mybudget.css" th:href="@{mybudget.css}" />
</head>

<body>
    <h1>Welcome!</h1>
    <table class="mybudget">

        <tbody>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Options</th>
            </tr>
            <tr th:each="budget : ${budget}">
            
                <td th:text="${budget.name}"> </td>
                <td th:text="${budget.category.name}"></td>
                <td th:text="${budget.amount}"></td>
                 <td sec:authorize="hasRole('ADMIN')"><td><a th:href="@{/edit/{id}(id=${budget.id})}">Edit</a>
                    <a th:href="@{/delete/{id}(id=${budget.id})}">Delete</a></td>
                

        </tbody>
    </table>

    <h4>Total Budget: <span th:text="${totalBudget}"></span></h4>
    <a class="btn btn-success" href="/add">Add</a>
</body>

</html>